@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url(https://db.onlinewebfonts.com/c/9e882ab157c8a8b5384e036393129b2d?family=Cavas+Demo);

*{
  padding: 0;
  margin: 0;
  box-shadow: border-box;
}

/* @font-face {
  font-family: "Cavas Demo";
  src: url("https://db.onlinewebfonts.com/t/9e882ab157c8a8b5384e036393129b2d.eot");
  src: url("https://db.onlinewebfonts.com/t/9e882ab157c8a8b5384e036393129b2d.eot?#iefix")format("embedded-opentype"),
  url("https://db.onlinewebfonts.com/t/9e882ab157c8a8b5384e036393129b2d.woff2")format("woff2"),
  url("https://db.onlinewebfonts.com/t/9e882ab157c8a8b5384e036393129b2d.woff")format("woff"),
  url("https://db.onlinewebfonts.com/t/9e882ab157c8a8b5384e036393129b2d.ttf")format("truetype"),
  url("https://db.onlinewebfonts.com/t/9e882ab157c8a8b5384e036393129b2d.svg#Cavas Demo")format("svg");
} */

@font-face {
  font-family: 'CavasDemo';
  src: url('/fonts/Cavas-Demo.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body{
  background-color: rgba(17, 9, 14, 1);
  color: #e2b3b9;
  /* background-color: red; */
  font-family: "Cavas Demo", sans-serif;
  font-family: "Quicksand", sans-serif !important;
  overflow-x: hidden;
}

button{
  cursor: pointer;
}

.canva-font{
  font-family: "CavasDemo", sans-serif;
}

.quicksand-font{
  font-family: "Quicksand", sans-serif !important;
}

body::-webkit-scrollbar-track {
  background-color: transparent;
  overflow-x: hidden;

}
body::-webkit-scrollbar {
  width: 5px;
  margin-left: 10px;
  overflow-x: hidden;
}
body::-webkit-scrollbar-thumb {
  background-color: rgba(226, 179, 185, 1);
  overflow-x: hidden;
}

a{
  color: inherit;
  list-style: none;
  text-decoration: none;
  text-transform: capitalize;
}

.contact-us-btn{
  outline: none;
  border: 1px solid rgba(228, 172, 180, 1);
  padding: 10px 15px;
  border-radius: 8px;
  font-weight: 600;
  background-color: rgba(228, 172, 180, 1);
  color: black;
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
}

::selection {
  background-color: rgba(228, 172, 180, 1); /* Custom background color for selected text */
  color: #000000; /* Custom text color for selected text */
}

/* For webkit-based browsers (Chrome, Safari) */
::-webkit-selection {
  background-color: rgba(228, 172, 180, 1);
  color: #000000;
}

/* For Firefox (optional, if you want separate styling) */
::-moz-selection {
  background-color: rgba(228, 172, 180, 1);
  color: #000000;
}